body {
    background-color: #F0FFF0;
    font-family: Verdana, sans-serif;
    color: #003399;
    Line-Height: 2;
}

h1 {
    text-align: center;
    font-size: 460%;
    font-weight: bold;
    color: #FF8C00;
    position: relative;
    top: 50px;
    font-family:"Segoe print", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  Line-Height: 3;
}
h3{
    font-size: 20px;
    font-weight: bold;
    Line-Height: 2.5;
}
.blocimage {
    display: block;
    height: 200px;
    width: 200px;
    position: absolute;
    font-size: 8px;
    text-align: center;
    top: 2%;
}

.Image {
    max-width: 100%;
    max-height: 100%;
}

.blocimage2 {
    display: block;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 165em;
    text-align: left;
    font-size: 8px;
    text-align: center;
    top: 2%;
}

.classindex {
    height: 505px;
    width:  190px;
    display: block;
    position: fixed;
    border-width:2px;
    border-radius: 20px;
    left: 3px;
    top: 34%;
    background-color: #696969;
    padding: 5px;
    margin-top: -4em;
    text-align: left;
    font-weight: bold;
    Line-Height: 1.5;
}

.stylelien {
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.stylelien:hover{
  color: black;
  background-color: #CCCCCC;
}

.blocimage3 {
    position: fixed;
    height: 28em;
    width: 18em;
    left: 174em;
    top: 39%;
    margin-top: 2em;
    text-align: left;
    font-size: 8px;
    text-align: center;
}

.blocimage4 {
    position: fixed;
    height: 28em;
    width: 18em;
    left: 174em;
    top: 10%;
    margin-top: 53em;
    text-align: left;
    font-size: 8px;
    text-align: center;
}

.bloctexte {
    background-color: white;
    margin-top: 4em;
    left: 13em;
    display: block;
    width: 1200px;
    position: relative;
    top: 1em;
    text-align: justify;
}

.texte {
    max-width: 100%;
}


.blocimage5 {
    display: block;
    height: 20em;
    width: 40em;
    position: relative;
    left: 10%;
}

.positiontableau {
    display: block;
    position: relative;
    left: 100px;
    font-size: 1.2em;
}

.augmtexte {
    font-size: 14px;
    background-color: Black;
    color: white;
}


.formulaire{
  display: block;
  width: 250px;
}
.textformulaire{
  display: block;
  font-weight: bold;
  width: 500px;
}
.blocimage6 {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50em;
    opacity: 0.9;
    left: 25%;
    animation: bounce 0.7s ease infinite;
}
@keyframes bounce{
  from {top: 98.5%;}
  50%  {top: 98.4%;}
  to   {top: 98.5%;}
}

.Imagefleche {
    max-width: 100%;
    max-height: 100%;
}

.textefleche {
    position: relative;
    font-size: 150%;
    bottom: 10%;
    left: 30%;
}
