html {
  display: flex;
  flex-direction: column;
}

body {
    justify-content:space-between;
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #F0FFF0;
    font-family: Verdana, sans-serif;
    color: #003399;
    Line-Height: 2;
}

h1 {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    color: black;
    display: inline-block;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  Line-Height: 3;
}
h3{
    font-size: 20px;
    font-weight: bold;
    Line-Height: 2.5;
}

.header{
  justify-content:space-between;
  flex-direction: row;

}
.blocimage {
    display: inline-block;
    margin:0;
    height: 20%;
    width: 10%;
}

.Image {
    max-width: 100%;
    max-height: 100%;
}

.blocimage2 {
    display: inline-block;
    height: 90%;
    width: 10%;
    flex-wrap: wrap;
}
.contenu{
  flex-direction: row;
  width: 80%;
  flex: 1 1 auto;
  display: flex;
  flex-basis: auto;
}

.classindex {
    height: 475px;
    width:  190px;
    border-width:2px;
    border-radius: 20px;
    background-color: #696969;
    padding: 5px;
    margin-top: 4em;
    text-align: left;
    font-weight: bold;
    Line-Height: 1.5;
    order: -1;
    flex-basis: auto;
}

.stylelien {
    font-size: 13px;
    text-decoration: none;
    color: white;
}
.stylelien:hover{
  color: black;
  background-color: #CCCCCC;
}

.blocimage3 {
    flex-direction: row;
    height: 28em;
    width: 18em;
    left: 174em;
    top: 39%;
    margin-top: 2em;
    text-align: left;
    font-size: 8px;
    text-align: center;
    flex-basis: auto;
}

.blocimage4 {
    height: 28em;
    width: 18em;
    left: 174em;
    top: 10%;
    margin-top: 53em;
    text-align: left;
    font-size: 8px;
    text-align: center;
    flex-basis: auto;
}

.bloctexte {
    flex-direction: column;
    flex: 1;
    background-color: white;
    margin-top: 4em;
    left: 13em;
    top: 1em;
    text-align: justify;
    margin-left: 1.5vh;
}

.texte {
    max-width: 100%;
}


.blocimage5 {
    display: block;
    height: 20em;
    width: 40em;
    position: relative;
    left: 10%;
}

.positiontableau {
    display: block;
    position: relative;
    left: 100px;
    font-size: 1.2em;
}

.augmtexte {
    font-size: 14px;
    background-color: Black;
    color: white;
}


.formulaire{
  display: block;
  width: 250px;
}
.textformulaire{
  display: block;
  font-weight: bold;
  width: 500px;
}
.blocimage6 {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50em;
    opacity: 0.9;
    left: 21%;
    animation: bounce 0.7s ease infinite;
}
@keyframes bounce{
  from {top: 1200vh;}
  50%  {top: 1199vh;}
  to   {top: 1200vh;}
}

.Imagefleche {
    max-width: 100%;
    max-height: 100%;
}

.textefleche {
    flex-direction: row;
    font-size: 150%;
    bottom: 50em;
    left: 50%;
}
